/* CSS Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#full-wrapper {
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
}

#content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-row:first-child {
  margin-bottom: 10px;
}

.header-title {
  font-size: 1.5em; /* Example styling, adjust as needed */
}

.header-row-bottom {
  display: flex; /* Make the row a flex container */
  justify-content: center; /* Center the links within the row */
}

.header-row-bottom nav a {
  margin: 0 15px; /* Add spacing between links */
}

header a:has(img) {
  /* Targets <a> tags that contain <img> tags */
  text-decoration: none; /* Removes underlines */
  margin-right: 12px;
}

#about {
  display: flex;
  padding: 40px;
  align-items: center;
}

#about img {
  width: 50%;
  max-height: 400px;
  object-fit: cover;
}

#about-text {
  width: 50%;
  padding-left: 20px;
}

#calendar {
  padding: 40px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  width: 30%;
}

footer img {
  filter: invert(100%) grayscale(100%) brightness(200%);
}

footer a {
  filter: invert(100%) grayscale(100%) brightness(200%);
}

footer a:hover {
  color: yellowgreen;
}
